html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    overflow-x: hidden;
    position: relative;
    color: var(--black);
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
:root {
    --main-c : #27372a ;
    --second-c : #eb3c00 ;
    --white : white;
    --black : #25282B ;
    --gray : #828282 ;
    --raduis : 5px;
    --card1 : #648173;
    --card2 :#e1ece7;
    --scroll-bg : #f8eee9;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
a {
    text-decoration: none;
}
/* start some js things */
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.visible {
    display: flex!important;
    opacity: 1;
    transform: translateY(0);
}
.d-flex {
    display: flex;
}
/* .hidden-top {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.visible-top {
    opacity: 1;
    transform: translateY(0);
} */
/* end some js things */
/* start landing page  */
nav {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 60px;
    background-color: var(--white); 
    position: fixed;
    top: 0;
    z-index: 200;
    left: 50%;
    transform: translateX(-50%);
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > span {
            display: none;
        }
        h1 {
            color: var(--main-c);
        }
        .list {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .fa-chevron-left {
                display: none;
            }
            /* all ul  */
            > ul {
                list-style: none;
                display: flex;
                
                > li {
                    > a {
                        color: var(--black);
                        transition: color 0.3s;
                    }
                    > a:hover {
                        color: var(--gray);
                    }
                    padding: 20px;
                    transition: color 0.3s;
                    cursor: pointer;
                    /* services list  */
                    .s-li {
                        list-style: none;
                        display: none;
                        flex-direction: column;
                        position: absolute;
                        margin-top: 20px;
                        background-color: var(--white);
                        background-color:var(--white);
                        width: 200px;
                        li {
                            padding: 10px;
                            transition: all 0.3s;
                            a {
                                color: var(--black);
                                transition: margin 0.3s;
                                display: flex;
                            }
                        }
                        li:hover {
                            background-color: #8282822e;
                        }
                        li:hover > a {
                            margin-left: 10px;
                        }
                    }
                    /* location list  */
                    .loc-li {
                        list-style: none;
                        display: none;
                        flex-direction: column;
                        position: relative;
                        width: 200px;
                        position: absolute;
                        margin-top: 20px;
                        width: 140px;
                        background-color: var(--white);
                        li {
                            padding: 10px;
                            color: var(--black);
                            > span {
                                transition: margin 0.3s;
                                display: flex;
                            }
                        }
                        li:hover {
                            background-color: #8282822e;
                        }
                        li:hover > span {
                            margin-left: 10px;
                        }
                    }
                }
                > li:hover {
                    color: var(--gray);
                }
                /* > li:hover .loc-li,
                > li:hover .s-li {
                    display: flex;
                } */
            }
            .book {
                background-color: var(--main-c);
                color: var(--white);
                padding: 15px 20px;
                border-radius: var(--raduis);
                font-weight: 600;
                cursor: pointer;
                transition: background-color 0.3s;
            }
            .book:hover {
                background-color: var(--second-c);
            }
        }
    }
}

/* js code objects  */
.s-li, .loc-li {
    display: none;
}
.visible {
    display: flex !important;
}

@media (max-width: 768px) {
    nav {
        .container {
            position: relative;
            top: 15px;
            > span {
                display: block;
                position: absolute;
                right: 10px;
                font-size: 25px;
                cursor: pointer;
            }
            .list {
                display: none;
                position: relative;
                flex-direction: column;
                > ul {
                    flex-direction: column;
                    position: absolute;
                    top: 50px;
                    right: 0;
                    background-color: var(--white);
                    li {
                        display: flex;
                        position: relative;
                        .s-li,
                        .loc-li {
                            right: 100%;
                            top: -20px;
                        }
                        .fa-chevron-left {
                            display: block;
                            position: absolute;
                            left: 5px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        .fa-chevron-down {
                            display: none;
                        }
                    }
                }
                .book {
                    display: none;
                }
            }
        }
    }
}

.landing-page {
    /* img {
        width: 100%;
        height: auto;
    } */
    position: relative;
    min-height: 100vh;
    background-image: url(attachments/landing.jpg);
    background-size: cover;
    background-color: #25282b5d;
    > span {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .container {
        height: 100vh;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        color: var(--white);
        h1 {
            margin-top: 150px;
            margin-bottom: 100px;
            max-width: 80%;
            text-align: center;
        }
        .buttons {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
        }
        p {
                padding: 15px 20px;
                border-radius: var(--raduis);
                font-weight: 600;
                cursor: pointer;
                transition: background-color 0.3s;
                width: fit-content;
                margin: 10px;
                border: 2px solid transparent;
            }
        p:first-child {
            background-color: var(--white);
            color: var(--main-c);
        }
        p:first-child:hover {
            background-color: var(--main-c);
            color: var(--white);
        }
        p:last-child {
            background-color: transparent;
            border-color: var(--white);
        }
        p:last-child:hover {
            background-color: var(--white);
            color: var(--main-c);
        }
        p:hover {
            background-color: var(--second-c);
        }
        .star {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            > p {
                background-color: transparent;
                color: var(--white);
            }
            > p:hover {
                background-color: transparent;
            }
            i {
                color: yellow;
            }
        }
    }
}
@media (max-width: 768px) {
    .landing-page {
        background-position: -300px;
        h1 {
            font-size: 25px;
        }
        .container {
            .buttons {
                width: 90%;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: flex-start;
            }
        }
    }
}

/* end landing page  */
/* start about section */
.about {
    min-height: fit-content;
    background-color: var(--white);
    box-shadow: 0 0 20px 0px var(--gray);
    .container {
        padding: 100px auto;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        .word {
            
            h1 {
                margin-bottom: 50px;
                margin-top: 50px;
                font-size: 40px;
                position: relative;
            }
            h1::before {
                content: "";
                width: 100px;
                height: 3px;
                background-color: var(--second-c);
                position: absolute;
                bottom: 0;
                left: 20px;
                transform: translateY(-50%);
            }
            h1::after {
                content: "";
                width: 15px;
                height: 3px;
                background-color: var(--second-c);
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateY(-50%);
            }
            p {
                max-width: 500px;
                font-size: 20px;
                font-weight: 400;
                color: var(--gray);
                margin-left: 50px;
                span {
                    display: flex;
                    color: var(--main-c);
                    font-weight: 800;
                    margin-left: 30px;
                    position: relative;
                }
                span::before {
                    content: "";
                    width: 20px;
                    height: 3px;
                    background-color: var(--second-c);
                    position: absolute;
                    top: 15px;
                    left: -40px;
                }
                span::after {
                    content: "";
                    width: 10px;
                    height: 3px;
                    background-color: var(--second-c);
                    position: absolute;
                    top: 15px;
                    left: -15px;
                }
            }
        }
        .image {
            width: 500px;
            position: relative;
            /* svg {
                position: absolute;
                width: 100%;
                top: 10px;
            } */
            img {
                position: relative;
                width: 100%;
                z-index: 2;
                /* background-color: var(--second-c); */
                
            }
        }
    }
}

@media (max-width: 768px) {
    .about {
        .container {
            flex-direction: column;
            .word {
                h1 {
                    font-size: 25px;
                }
                h1::before {
                    width: 50px;
                }
                p {
                    font-size: 13px;
                    padding-bottom: 60px;
                    margin-left: 0;
                }
            }
            .image {
                display: none;
                img {
                    display: none;
                }
            }
        }
    }
}
.treatments {
    /* height: 100vh; */
    padding-top: 100px;
    background-color: var(--white);
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        > i {
            background-color: var(--main-c);
            color: var(--white);
            padding: 15px 20px;
            border-radius: var(--raduis);
            transition: background-color 0.3s;
            cursor: pointer;
        }
        > i:hover {
            background-color: var(--second-c);
        }
        p {
            color: var(--second-c);
            font-weight: 600;
            width: 100%;
        }
        h2 {
            font-size: 30px;
            margin-top: 20px;
            color: var(--main-c);
            span {
                color: var(--second-c);
            }
        }
        > span {
            margin-top: 20px;
            border: 2px solid var(--main-c);
            padding: 15px 20px;
            border-radius: var(--raduis);
            font-weight: 600;
            transition: all 0.3s;
            cursor: pointer;
        }
        > span:hover {
            background-color: var(--main-c);
            color: var(--white);
        }
    }
    .photos {
        /* width: 100%; */
        overflow-x: auto;
        scroll-behavior: smooth;
        display: flex;
        margin: 50px 0 50px 50px;
        cursor: grab;
        scrollbar-width: none; 
        -ms-overflow-style: none;
        user-select: none;
        .photo {
            flex: 0 0 auto;
            margin: 0 20px;
            width: 300px;
            height: 400px;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-radius: var(--raduis);
            transition: all 0.3s;
            user-select: none;
            img {
                height: 100%;
                position: absolute;
            }
            h3 {
                position: relative;
                z-index: 2;
                font-size: 20px;
                color: var(--white);
                padding: 10px;
                transition: transform 0.3s;
            }
            span {
                position: relative;
                color: var(--white);
                padding: 10px;
                text-decoration: underline;
                font-weight: 600;
                transition: transform 0.3s;
                margin-bottom: 20px;
            }
            .bg {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #25282b6b;
                z-index: 2;
                transition: background-color 0.3s;
            }
            
        }
        .photo:hover {
            .bg {
                background-color: #6264666b;
                
            }
            h3 {
                transform: translateY(-150px);
            }
            span {
                transform: translateY(-150px);
                
            }
        }
    }
}
@media (max-width: 768px) {
    .treatments {
        .container {
            h2 {
                font-size: 25px;
            }
            > span {
                font-size: 15px;
                position: relative;
                left: 100%;
                transform: translateX(-100%);
            }
        }
        .photos {
            margin: 20px 0;
        }
    }
}
/* end about section */
/* start talk section */
.talk {
    padding: 100px 0;
    background-color: var(--white);
    .container {
        position: relative;
        display: flex;
        height: 500px;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .f-p,
        .f-h {
            display: none;
        }
        .image {
            height: 100%;
            img {
                height: 100%;
                border-radius: var(--raduis);
            }
        }
        .top {
            p {
                color: var(--second-c);
                font-weight: 600;
                margin-bottom: 20px;
            }
            h1 {
                color: var(--main-c);
                margin-bottom: 20px;
                span {
                    color: var(--second-c);
                }
            }
        }
        .bottom {
            .phrase {
                margin-left: 30px;
                margin-bottom: 30px;
                position: relative;
                i {
                    position: absolute;
                    left: -25px;
                    top: 7px;
                    color: var(--second-c);
                }
                h2 {
                    font-size: 20px;
                    color: var(--main-c);
                }
                p {
                    color: var(--gray);
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .talk {
        padding-top: 200PX;
        .container {
            gap: 10px;
            height: 350px;
            .top {
                p {
                    font-size: 15px;
                }
                h1 {
                    font-size: 20px;
                }
            }
            .bottom {
                margin-bottom: 15px;
                .phrase {
                    
                    h2 {
                        font-size: 15px;
                    }
                }
            }
        }
    }
} 
@media (max-width: 768px) {
    .talk {
        margin-top: 30px;
        padding-top: 0;
        position: relative;
        z-index: 5;
        .container {
            flex-direction: column;
            text-align: center;
            .f-p {
                display: block;
                color: var(--second-c);
                font-weight: 600;
                margin-bottom: 20px;
            }
            .f-h {
                display: block;
                color: var(--main-c);
                margin-bottom: 10px;
            }
            .image {
                width: 100%;
                height: 100%;
                img {
                    position: relative;
                }
            }
            .p {
                margin: 15px;
            }
            .top {
                p,
                h1 {
                    display: none;
                }
                
            }
            .bottom {
                .phrase {
                    h2 {
                        font-size: 22px;
                        margin-bottom: 10px;
                        text-align: start;
                    }
                    p {
                        font-size: 18px;
                        text-align: start;
                    }
                }
            }
        }
    }
}
/* end talk section */
/* start scroll-part section */
.scroll-part {
    position: sticky;
    top: 60px;
    background-color: var(--scroll-bg);
    height: 330vh;
    padding: 100px;
    display: flex;
    gap: 20px;
    /* margin-bottom: 100px; */
}
.f-part {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    p:first-child {
        color: var(--second-c);
        font-size: 16px;
    }
    h2 {
        font-size: 40px;
        color: var(--main-c);
    }
    p {
        font-size: 20px;
        margin: 20px 0;
        font-weight: 600;
        color: var(--gray);
    }
    span {
        padding: 15px 20px;
        border: 2px solid transparent;
        border-radius: var(--raduis);
        font-weight: 600;
        width: fit-content;
        margin: 10px 0;
        transition: all 0.3s;
        cursor: pointer;
    }
    #span1 {
        background-color: var(--main-c);
        color: var(--white);
    }
    #span1:hover {
        background-color: var(--second-c);
    }
    #span2 {
        border-color: var(--main-c);
    }
    #span2:hover {
        background-color: var(--main-c);
        color: var(--white);
    }
}
.s-part {
    position: absolute;
    right: 0;
    width: 50%;
    .card {
        position: sticky;
        top: 200px;
        left: 0px;
        width: 90%;
        height: 300px;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        box-shadow: 0 0 10px 0 var(--gray);
        transform-origin: -600px 100px;
        transition: transform 0.5s ease-out;
        p {
            font-size: 20px;
            margin-top: 20px;
        }
        h2 {
            font-size: 40px;
            font-weight: 900;
        }
        span {
            position: absolute;
            right: 90px;
            top: 0;
            font-size: 150px;
            font-weight: 900;
            color: #f5eeee46;
            
        }
    }
    .card-1 {
        background-color: var(--card1);
        color: var(--white);
        z-index: 1;
        transform: rotate(0deg);
        
    }
    .card-2 {
        transform: rotate(3deg) translateY(-33px);
        background-color: var(--card2);
        z-index: 2;
        span {
            color: #5858583f;
        }
        h2 {
            font-size: 35px;
        }
        p {
            font-size: 16px;
        }
    }
    .card-3 {
        top: 200px;
        transform: rotate(6deg) translateY(-66px);
        background-color: var(--card1);
        z-index: 3;
        p {
            font-size: 16px;
        }
    }
}
.no-sticky {
    position: relative;
}

@media (max-width: 992px) {
    .scroll-part {
        .f-part {
            p {
                font-size: 15px;
            }
        }
        .s-part {
            .card {
                h2 {
                    font-size: 30px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .scroll-part {
        height: 305vh;
        padding: 20px;
        position: relative;
        top: 700px;
        .f-part {
            transform: translateY(-20px);
            width: 100%;
            
        }
        .s-part {
            width: 100%;
            top: 400px;
            .card {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
/* end scroll-part section */
/* start techniques section */
.bgi {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}
.techniques {
    position: relative;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--main-c);
    overflow: hidden;
    
    .container {
        position: relative;
        display: flex;
        gap: 20px;
        .left {
            width: calc(50% - 20px);
        }
        .right {
            width: calc(50% - 20px);
            > svg {
                position: absolute;
                top: 0;
                z-index: 2;
                width: 100%;
            }
        }
        p {
            font-size: 20px;
            z-index: 3;
        }
        h1 {
            font-size: 30px;
            margin-bottom: 50px;
            color: var(--second-c);
            z-index: 3;
        }
        div {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            #span1 {
                background-color: var(--second-c);
                color: var(--white);
            }
            #span1:hover {
                background-color: var(--main-c);
            }
            span {
                width: fit-content;
                padding: 15px 20px;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.3s;
                border-radius: var(--raduis);
                border: 2px solid var(--second-c);
                z-index: 3;
                
            }
            span:hover {
                background-color: var(--second-c);
            }
        }
    }
}
@media (max-width: 768px) {
    .techniques {
        .container {
            padding: 10px;
            width: 100%;
            flex-direction: column;
            .left {
                width: 100%;
            }
            .right {
                height: 200px;
                svg {
                    bottom: -30%;
                    top: auto;
                    width: 150%;
                    left: 100%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}
/* end techniques section */
/* start contact section */
.contact {
    min-height: 50vh;
    display: flex;
    align-items: flex-start;
    padding: 50px 0;
    justify-content: center;
    color: var(--main-c);
    z-index: 5;
    .container {
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: 50px;
            margin-bottom: 30px;
        }
        form {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: space-between;
            > div {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .right {
                width: calc(50% - 20px);
                label[for="email"] {
                    margin-top: 20px;
                }
                input[type="text"],
                input[type="email"] {
                    padding: 10px;
                    border: none;
                    border-bottom: 2px solid var(--second-c);
                    /* box-shadow: 0 0 10px 0 var(--gray); */
                    border-radius: var(--raduis);
                    height: 50px;
                    outline: none;
                    font-family: "Quicksand", sans-serif;
                }
            }
            .left {
                width: 50%;
                label:after {
                    right: -25px;
                }
            }
            input[type="submit"] {
                padding: 15px 40px;
                font-weight: 600;
                font-family: "Quicksand", sans-serif;
                margin: 20px;
                color: var(--white);
                background-color: var(--main-c);
                border: 2px solid var(--main-c);
                border-radius: var(--raduis);
                transition: all 0.3s;
                cursor: pointer;
            }
            input[type="submit"]:hover {
                background-color: transparent;
                color: var(--main-c);
            }
            textarea {
                border: none;
                /* box-shadow: 0 0 10px 0 var(--gray); */
                border-bottom: 2px solid var(--second-c);
                border-radius: var(--raduis);
                height: 100%;
                font-family: "Quicksand", sans-serif;
                outline: none;
                padding: 10px;
            } 
            label {
                position: relative;
                width: 100px;
            }
            label:after {
                content: "";
                position: absolute;
                width: 50px;
                height: 2px;
                background-color: var(--second-c);
                top: 50%;
                right: -10px;
            }
        }
    }
}
@media (max-width: 768px) {
    .contact {
        .container {
            h1 {
                font-size: 30px;
            }
            width: 80%;
            form {
                width: 100%;
                flex-direction: column;
                .right {
                    width: 100%;
                    margin: 50px 0;
                }
                .left {
                    width: 100%;
                    textarea {
                        height: 200px;
                    }
                }
                input[type="submit"] {
                    width: fit-content;
                }
            }
        }
    }
}
/* end contact section */
